body
{
    height: 100%;
    margin: 0%;
    background-color: #4b5368;
}

.container{
    display: grid;
    
    grid-template-columns: 0.2fr 2fr;
    grid-template-rows:    2fr 0.2fr;
    grid-template-areas:
        "sidebar content1"
        "sidebar footer";
        
}

main{
    background-color: #4b5368;
    grid-area: main;
}

.content1{
    grid-area: content1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "personalWebsite drawingApp studentWebService";
    column-gap: 5%;
    
}

/*Personal Website*/
.personalWebsite{
    grid-area: personalWebsite;
    display: flex;
    order: 3;
    flex-direction: column;
    margin-top: 50%;
}

.personalWebsite h1 {
    color:#17c791;
    font-family: cascadia code;
    font-size: 3ch;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 8s,
        caret 0.7s step-end infinite, /*Animation for the blinking cursor object*/
        typist 3.5s steps(17); /*Animation durration for typing*/
    animation-fill-mode: forwards;
    white-space: nowrap;
}
.personalWebsite a{
    color:#d3d3d3;
    font-size: 3ch;
    font-family: cascadia code;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 1s,
        caret 0.7s step-end infinite, /*Animation for the blinking cursor object*/
        typist2 4s steps(17); /*Animation durration for typing*/
    animation-fill-mode: forwards;
    white-space: nowrap;
}
.personalWebsite iframe{
    height: 300px;
    width: 300px;
    animation: fadeIn 2s ease-in;
}
/*Drawing app*/
.drawingApp{
    grid-area: drawingApp;
    display: flex;
    order: 3;
    flex-direction: column;

}
.drawingApp h1{
    color:#e3b44d;
    padding-left: 0%;
    font-size: 3ch;
    font-family: cascadia code;
    overflow: hidden;
    visibility: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 1s,
        caret 0.7s step-end infinite, /*Animation for the blinking cursor object*/
        typist2 4s steps(29); /*Animation durration for typing*/
        animation-delay: 1.4s;
    animation-fill-mode: forwards;
    white-space: nowrap;
}
.drawingApp a{
    color: #d3d3d3;
    font-size: 3ch;
    font-family: cascadia code;
    overflow: hidden;
    visibility: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 3s,
        caret 0.7s step-end infinite, /*Animation for the blinking cursor object*/
        typist2 4s steps(19); /*Animation durration for typing*/
        animation-delay: 1.4s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    
}

.drawingApp iframe{
    height: 300px;
    width: 300px;
    visibility: hidden;
    animation: 
        invisible 1s,
        fadeIn 2s ease-in;
        animation-delay: 1.4s;
        animation-fill-mode: forwards; /*This will make the hidden attribute visible at and of animation*/
    
}

/*Student Web Services*/
.studentWebService{
    grid-area: studentWebService;
    display: flex;
    order: 3;
    flex-direction: column;
    margin-top: 50%;
}
.studentWebService h1{
    color: #30a09a;
    font-family: cascadia code;
    font-size: 3ch;
    overflow: hidden;
    visibility: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 1s,
        caret 0.7s step-end infinite, /*Animation for the blinking cursor object*/
        typist2 4s steps(19); /*Animation durration for typing*/
        animation-delay: 3s;
    animation-fill-mode: forwards;
    white-space: nowrap;
}
.studentWebService a{
    color: #d3d3d3;
    font-size: 3ch;
    font-family: cascadia code;
    overflow: hidden;
    visibility: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 3s,
        caret 0.7s step-end infinite, /*Animation for the blinking cursor object*/
        typist3 4s steps(12); /*Animation durration for typing*/
        animation-delay: 3s;
    animation-fill-mode: forwards;
    white-space: nowrap;
   
}
.studentWebService iframe{
    height: 300px;
    width: 300px;
    visibility: hidden;
    animation: 
        invisible 1s,
        fadeIn 2s ease-in;
        animation-delay: 3s;
        animation-fill-mode: forwards; /*This will make the hidden attribute visible at and of animation*/
}



nav{
    background-color: #393c44;
    width: 100%;
    grid-area: sidebar;
}
 /*Stat of footer styling*/
footer{
    background-color: #444851;
    grid-area: footer;
}

footer ul{
    display: grid;
    grid-template-rows: repeat (3, 1fr);
/*   justify-content: end; */ 
    grid-template-areas: "footer2 footer3 footer1";
    list-style-type: none; /*this will make the list dot disapear*/
}
.footer1{
    grid-area: footer1;
    padding-left: 50%;
}
.date{
    color: #d3d3d3;
    font-family: calling code;
    padding-bottom:10%;
}
.footer2{
    grid-area: footer2;
    padding-top:6%;
    font-family: calling code;
    color: #d3d3d3
}
.footer3{
    grid-area: footer3;
    padding-top: 14%;
    font-family: calling code;
    color: #d3d3d3;
}
/*end of footer styling*/

/* this will allow the css grids work for the side nav bar display page icons in a row*/
nav ul{
    display: grid;
    grid-template-rows: repeat(5, 1fr); /* same as writing 1fr 1fr 1fr 1fr 1fr */
    justify-content: center;
    justify-items: center;
    list-style-type: none;
}

nav ul li a{
    text-decoration:none;
    
}

/*Start of Animation frames*/
@keyframes caret {
    0%, 100%{border-color: transparent;}
    50%{border-color: whitesmoke;}
}

@keyframes typist {
    0%{width:0ch;}
    30%{width:16ch;}
    80%{width:16ch;}
    100%{border-right: none;}
}
@keyframes typist2 {
    0%{width:0ch;}
    30%{width:19ch;}
    80%{width:19ch;}
    100%{border-right: none;}
}
@keyframes typist3 {
    0%{width:0ch;}
    30%{width:12ch;}
    80%{width:12ch;}
    100%{border-right: none;}
}
@keyframes typist4 {
    0%{width:0ch;}
    30%{width:8ch;}
    80%{width:8ch;}
    100%{border-right: none;}
}
@keyframes typist5 {
    0%{width:0ch;}
    30%{width:17ch;}
    80%{width:17ch;}
    100%{border-right: none;}
}

@keyframes invisible{
    0%{visibility: hidden;}
    100%{visibility: visible;}
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/*End of animation frames*/



@media screen and (max-width:1920px) {

    nav ul{
        display: grid;
        grid-template-rows: repeat(5, 1fr); /* same as writing 1fr 1fr 1fr 1fr 1fr */
        justify-content: center;
        justify-items: center;
        list-style-type: none;
        row-gap: 15%;
    } 

    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 0.2fr 2fr;
        grid-template-rows:    2fr 0.2fr;
        grid-template-areas:
            "sidebar content1"
            "sidebar footer";
            
    }

}


@media (min-resolution: 1.5dppx) {
    /* this squches the buttons for the webpages togeather so the screen at the bottom dosn't look weird*/
    nav ul{
        display: grid;
        grid-template-rows: repeat(5, 1fr); /* same as writing 1fr 1fr 1fr 1fr 1fr */
        justify-content: center;
        justify-items: center;
        list-style-type: none;
        row-gap: 7%;
    } 
    .content1{
        grid-area: content1;
        display: grid;
        margin-top: 0%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "personalWebsite drawingApp studentWebService";
        column-gap: 5%;
        
    }

/*Personal Website Styles*/
    nav ul{
        display: grid;
        grid-template-rows: repeat(5, 1fr); /* same as writing 1fr 1fr 1fr 1fr 1fr */
        row-gap: 5%;
    } 
    .container{
        display: grid;
        min-height: 100vh;
        grid-template-columns: 0.3fr 2fr;
        grid-template-rows: 1fr ;
        grid-template-areas:
            "sidebar content1"
            "sidebar footer";      
    }

    nav ul li a img{
        height: 90px;
        width: 90px;
        padding-right: 3%;
    }
    .contactInfo{
        height: 70px;
        width: 40px;
    }
}
