body
{
    background-color: #E5FCF5;
}
.title
{
    color: #210124;
    text-align: center;
}
.titleAtrabutes
{
    color:#2D3142;
    position: relative;
    top: -80px;
    left: 130px;
    font-size: 27px;
}
.dtTitle
{
    color: #426a50;
    position:relative;
    top: -80px;
    left: 240px;
    font-weight: 900;
    font-size: 22px;

}
.textAtrabutes
{
    color: #508361;
    position:relative;
    top: -80px;
    left: 250px;
    font-size: 20px;
}

.oval1
{
    position: relative;
    left: 140px;
    top: 140px;
    width: 250px;
    height: 150px;
    background: #9cc8fa;
    border-radius: 100px / 60px;
}

.oval1Text
{
    position: relative;
    top: 55px;
    left: 90px;
    font-size: 25px;
    color:#43895a;
}

.oval1Pic
{
    top:10px;
    right:20px;
    transition: 1.3s;
}

.oval1Pic:hover
{
    animation: left-to-right 1.3s infinite;
    
}
@keyframes left-to-right{
    0% {transform: translate(1px, 1px) rotate(0deg);}

    25% {transform: translate(-2px, -1px) rotate(-1deg);}

    50% {transform: translate(3px, 1px) rotate(2deg);}

    75%{transform: translate(-4px, -1px) rotate(-3deg);}

    100% {transform: translate(5px, 1px) rotate(3deg)}
}

a{
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: #841c26;
  overflow: hidden;
}

a{
    background: linear-gradient(to right, #43895a, #43895a 50%, #841c26 50%);
}

a{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

a {
    
    transition: background-position 275ms ease;
  }
  
  a:hover {
    background-position: 0 100%;
  }



.oval2
{
    position: relative;
    bottom: 100px;
    left: 500px;
    width: 250px;
    height: 150px;
    background: #9cc8fa;
    border-radius: 100px / 60px;
}

.oval2Text
{
    position: relative;
    top: 60px;
    left: 80px;
    font-size: 25px;
    color:#43895a;
}

.oval2Pic
{
    top:10px;
    right:30px;
    transition: 1.3s;

}

.oval2Pic:hover
{
    animation: left-to-right2 1.3s infinite;
}

@keyframes left-to-right2{

    0% {transform: translate(1px, 1px) rotate(0deg);}

    25% {transform: translate(-2px, -1px) rotate(-1deg);}

    50% {transform: translate(3px, 1px) rotate(2deg);}

    75%{transform: translate(-4px, -1px) rotate(-3deg);}

    100% {transform: translate(5px, 1px) rotate(3deg)}
}

.oval3
{
    position: relative;
    bottom: 150px;
    left: 870px;
    width: 250px;
    height: 150px;
    background: #9cc8fa;
    border-radius: 100px / 60px;
    
}
.oval3Text
{
    position: relative;
    top: 60px;
    left: 100px;
    font-size: 25px;
    color:#43895a;
}

.oval3Pic
{
    top:10px;
    right:15px;
    transition: 1.3s;

}

.oval3Pic:hover
{
    animation: left-to-right2 1.3s infinite;
}

@keyframes left-to-right2{

    0% {transform: translate(1px, 1px) rotate(0deg);}

    25% {transform: translate(-2px, -1px) rotate(-1deg);}

    50% {transform: translate(3px, 1px) rotate(2deg);}

    75%{transform: translate(-4px, -1px) rotate(-3deg);}

    100% {transform: translate(5px, 1px) rotate(3deg)}
}
