
    /*this will clear all css and html from desktop*/
    .container,
    nav,
    footer,
    .content1,
    .text1,.text2,.text3,.text4,.text5,.text5-1,.text5-2,.text5-3,.text6,.text7,.footer1,.footer2,.footer3{display: none;}
    body
    {
        height: 100%;
        margin: 0%;
        padding: 0%;
        overflow: hidden;
        background-color: #4b5368;
    }
    .mobileContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        
        overflow-y: scroll;
        scroll-snap-type: y mandatory ;
    }
    .page1{
        scroll-snap-align: start;
        background-color: red;
    }
    /*Section 1*/
    .NameBorder{
        border-style: solid;
        border-color: #b9b9b9a2;
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
    } 
    .NameBorder h1{
        font-family: Akira Expanded;
        font-size: 4.1em;
        color: #e9d8d8;
        padding-left: 10%;
    }
    
    .Intro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Intro p{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.2em;
        font-family: cascadia code;
        color: #e3b44d;
    }
    .UpperOvalContainer{
        background-color: red;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .upperOval{
        width: 100vw;
        height: 60px;
        background-color: yellow;
        align-self: center;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    /*Section 2*/
    .page2{
        scroll-snap-align: start;
        background-color: yellow;  
    }
    
    .SkillBorder{
        border-style: solid;
        border-color: #b9b9b9a2;
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .SkillBorder h1{
        font-family: Akira Expanded;
        font-size: 4.1em;
        color: #e9d8d8;
    }
    .programIcons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .programIcons img{
        height: 30%;
        width: 30%;
    }
    .programingLanguage{
        font-family: cascadia code;
        color:#30a09a;
        font-size: 1.1em;
    }
    .lowerOvalContainer{
        background-color: red;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .lowerOvalContainer{
        width: 100vw;
        height: 60px;
        background-color: yellow;
        align-self: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;

    }
    /*section 3*/
    .page3{
        scroll-snap-align: start;
        background-color: red;
    }
    .PersonalInfoBorder{
        border-style: solid;
        border-color: #b9b9b9a2;
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .PersonalInfoBorder h1{
        font-family: cascadia code;
        color: #e9d8d8;
        
    }
    
    
    /*This is styling is used for the carousel*/
    .carousel {
        position: relative;
    }
    .carousel__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        height: 50%;
        background: grey;
        padding: 1em;
        font-family: 'Qicksand', sans-serif;
        font-weight: bold;
        font-size: 2em;
        color: white;
        display: none;
    }
    .carousel__item img{
        height: 40%;
        width: 40%;
    }
    .carousel__item--selected{
        display:block;
    }
    
    .carousel__nav{
        width: 100%;
        padding: 20px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
    }
    .carousel__button{
        width: 10px;
        height: 10px;
        display: inline-block;
        background-color: rgba(100, 102, 101, 0.692);
        border-radius: 50%;
        margin: 0 5px;
    }
    .carousel__button--selected{
        background-color: rgba(163, 163, 163, 0.788);
    }
    /*end of carousel Styling*/

    /*this is for the carosel for information about me*/
    .Slide{
        animation-name: fading;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .Prev{

    }
    .Next{

    }

    @keyframes fading{
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 0;}
    }
   
