
    /*this will clear all css and html from desktop*/
    .container,
    nav,
    footer,
    .content1,
    .text1,.text2,.text3,.text4,.text5,.text5-1,.text5-2,.text5-3,.text6,.text7,.footer1,.footer2,.footer3{display: none;}
    body
    {
        height: 100%;
        margin: 0%;
        background-color: #4b5368;
    }
    .mobileContainer{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        flex-wrap: wrap;
    }
    .NameBorder{
        border-style: solid;
        border-color: #b9b9b9a2;
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    } 
    .NameBorder h1{
        font-family: cascadia code;
        color: #e9d8d8;
    }
    
    .Intro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Intro p{
        padding-left: 5%;
        padding-right: 5%;
        font-family: cascadia code;
        color: #e3b44d;
    }
    
    .SkillBorder{
        border-style: solid;
        border-color: #b9b9b9a2;
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .SkillBorder h1{
        font-family: cascadia code;
        color: #e9d8d8;
    }
    .Skills{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
    }
    .Skills p{
        padding-left: 5%;
        padding-right: 5%;
        font-family: cascadia code;
        color: #91b74a;
    }

    .PersonalInfoBorder{
        border-style: solid;
        border-color: #b9b9b9a2;
        display: flex;
        justify-content: center;
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .PersonalInfoBorder h1{
        font-family: cascadia code;
        color: #e9d8d8;
    }
    .PersonalInfo{
        display: flex;
        flex-direction: column;
        flex-grow: grow;
    }
    .PersonalInfo p{
        padding-left: 5%;
        padding-right: 5%;
        font-family: cascadia code;
        color: #30a09a;
    }
   
