body
{
    height: 100%;
    margin: 0%;
    background-color: #4b5368;
}

.container{
    display: grid;
    
    grid-template-columns: 0.2fr 2fr;
    grid-template-rows:2fr 0.2fr;
    grid-template-areas:
        "sidebar content1"
        "sidebar footer";
        
}

main{
    background-color: #4b5368;
    grid-area: main;
}

.content1{
    grid-area: content1;
    row-gap: 5%;
}



nav{
    background-color: #393c44;
    grid-area: sidebar;
}

footer{
    background-color: #444851;
    grid-area: footer;
}

footer ul{
    display: grid;
    grid-template-rows: repeat (3, 1fr);
/*   justify-content: end; */ 
    grid-template-areas: "footer2 footer3 footer1";
    list-style-type: none; /*this will make the list dot disapear*/

}

.footer1{
    grid-area: footer1;
    padding-left: 50%;
}
.date{
    color: #d3d3d3;
    font-family: calling code;
    padding-bottom:10%;
}
.footer2{
    grid-area: footer2;
    padding-top:6%;
    font-family: calling code;
    color: #d3d3d3
}
.footer3{
    grid-area: footer3;
    padding-top: 14%;
    font-family: calling code;
    color: #d3d3d3;
}

/* this will allow the css grids work for the side nav bar display page icons in a row*/
nav ul{
    display: grid;
    grid-template-rows: repeat(5, 1fr); /* same as writing 1fr 1fr 1fr 1fr 1fr */
    justify-content: center;
    justify-items: center;
    list-style-type: none;
}

.homepage, .aboutMe, .resume, .futureProjects, .hithub {
    width: auto;
    height: auto;
}

nav ul li a{
    text-decoration:none;
    
}

.text1
{
    font-family: cascadia code;
    font-size: 3.5ch;
    color: #9a9da4;

    /*typing animation code*/
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        caret 0.7s step-end infinite, /*Animation for the blinking cursor object*/
        typist 3s steps(16); /*Animation durration for typing*/
    animation-fill-mode: forwards;
    white-space: nowrap;

    padding-left: 5%
    
    
}
.text2
{
    font-family: cascadia code;
    font-size: 5.8ch;
    color: #30a09a;
    /*typing animation*/
    visibility: hidden;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 6s,
        caret 0.7s step-end infinite,
        typist 3s steps(16);
        animation-delay: 1.1s;
    animation-fill-mode: forwards;
    white-space: nowrap;

    padding-left: 3%
    
}
.text3
{
    font-family: cascadia code;
    font-size: 4ch;
    color: #17c791;
   
    /*Typing animation*/
    visibility: hidden;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 6s,
        caret 0.7s step-end infinite,
        typist2 5s steps(44);
        animation-delay: 2.2s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    padding-left: 5%;
}
.text4
{
    font-family: cascadia code;
    font-size: 3.5ch;
    color: #a568d2;
    /*Typing animation*/
    visibility: hidden;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 6s,
        caret 0.35s step-end infinite,
        typist3 0.5s steps(1);
        animation-delay: 3.8s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    padding-left: 1%;
}
.text5
{
    font-family: cascadia code;
    color: #e3b44d;
    font-size: 2.5ch ;
    /*Typing Animation*/
    visibility: hidden;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 6s,
        caret 0.7s step-end infinite,
        typist4 4s steps(52);
        animation-delay: 4.2s;
    animation-fill-mode: forwards;
    white-space: nowrap;

    padding-left: 5%;
    
}
.text5-1
{
    font-family: cascadia code;
    color: #e3b44d;
    font-size: 2.5ch ;
    /*Typing Animation*/
    visibility: hidden;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 6s,
        caret 0.7s step-end infinite,
        typist5 4s steps(52);
        animation-delay: 5.5s;
    animation-fill-mode: forwards;
    white-space: nowrap;

    padding-left: 5%;
    
}
.text5-2
{
    font-family: cascadia code;
    color: #e3b44d;
    font-size: 2.5ch ;
    /*Typing Animation*/
    visibility: hidden;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 6s,
        caret 0.7s step-end infinite,
        typist6 4s steps(52);
        animation-delay: 6.8s;
    animation-fill-mode: forwards;
    white-space: nowrap;

    padding-left: 5%;
    
}
.text5-3
{
    font-family: cascadia code;
    color: #e3b44d;
    font-size: 2.5ch ;
    /*Typing Animation*/
    visibility: hidden;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 6s,
        caret 0.7s step-end infinite,
        typist7 3s steps(66);
        animation-delay: 8s;
    animation-fill-mode: forwards;
    white-space: nowrap;

    padding-left: 5%;
    
}
.text6
{
    font-family: cascadia code;
    font-size: 3.5ch;
    color: #a568d2;
    /*Typing Animation*/
    visibility: hidden;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 6s,
        caret 0.35s step-end infinite,
        typist3 0.5s steps(1);
        animation-delay: 8.4s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    padding-left: 1%;
    padding-left: 1%;

}
.text7
{
    font-family: cascadia code;
    font-size: 2.5ch;
    color: #91b74a;
    /*Typing Animation*/
    visibility: hidden;
    overflow: hidden;
    border-right: 3px solid whitesmoke;
    animation: 
        invisible 6s,
        caret 0.7s step-end infinite,
        typist2 5s steps(44);
        animation-delay: 8.8s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    padding-left: 1%;
}

@keyframes caret {
    0%, 100%{border-color: transparent;}
    50%{border-color: whitesmoke;}
}

@keyframes typist {
    0%{width:0ch;}
    30%{width:16ch;}
    80%{width:16ch;}
    100%{border-right: none;}
}

@keyframes typist2 {
    0%{width:0ch;}
    30%{width:44ch}
    80%{width:44ch}
    100%{border-right: none;}
}
@keyframes typist3 {
    0%{width:0ch;}
    30%{width:1ch}
    80%{width:1ch}
    100%{border-right: none;}
}
@keyframes typist4 {
    0%{width:0ch;}
    30%{width:52ch}
    80%{width:52ch}
    100%{border-right: none;}
}
@keyframes typist5 {
    0%{width:0ch;}
    30%{width:66ch}
    80%{width:66ch}
    100%{border-right: none;}
}
@keyframes typist6 {
    0%{width:0ch;}
    30%{width:47ch}
    80%{width:47ch}
    100%{border-right: none;}
}
@keyframes typist7 {
    0%{width:0ch;}
    30%{width:37ch}
    80%{width:37ch}
    100%{border-right: none;}
}

@keyframes invisible {
    0%, 100%{visibility: visible;}
}

/*when a user is using thier phone these will be the dimentions*/
@media only screen and (max-width:550px){
    /*this will clear all css and html from desktop*/
    .container,
    nav,
    footer,
    .content1,
    .text1,.text2,.text3,.text4,.text5,.text5-1,.text5-2,.text5-3,.text6,.text7{display: none;}
   
}

@media only screen and (max-width:1920px){
    nav ul{
        display: grid;
        grid-template-rows: repeat(5, 1fr); /* same as writing 1fr 1fr 1fr 1fr 1fr */
        justify-content: center;
        justify-items: center;
        list-style-type: none;
        row-gap: 13%;
    }
    .text3
    {
        font-family: cascadia code;
        font-size: 4ch;
        color: #17c791;
        padding-left: 5%;
        padding-bottom: 2%;
    }
    .text6
    {
        font-family: cascadia code;
        font-size: 3.5ch;
        color: #a568d2;
        padding-left: 1%;
        padding-bottom: 6%;
    }
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 0.2fr 2fr;
        grid-template-rows:2fr 0.2fr;
        grid-template-areas:
            "sidebar content1"
            "sidebar footer";
            
    }
}

@media (min-resolution: 1.5dppx) {
    /* this squches the buttons for the webpages togeather so the screen at the bottom dosn't look weird*/
    nav ul{
        display: grid;
        grid-template-rows: repeat(5, 1fr); /* same as writing 1fr 1fr 1fr 1fr 1fr */
        row-gap: 5%;
    } 
    .container{
        display: grid;
        min-height: 100vh;
        grid-template-columns: 0.3fr 2fr;
        grid-template-rows: 1fr ;
        grid-template-areas:
            "sidebar content1"
            "sidebar footer";      
    }

    nav ul li a img{
        height: 90px;
        width: 90px;
        padding-right: 3%;
    }
    .contactInfo{
        height: 70px;
        width: 40px;
    }

    .content1 {
        grid-area: content1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "resumeDownload resumeInBrowser";
    }
}





